<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <!--Logo de la pagina-->
        <img src="images/logo-mercado-liebre.svg" alt="Imagen logo">
        <p>Lugar para poner barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <!--Esta es la barra de navegacion con los item solicitados-->
        <nav>
            <!--Esto se utiliza para crear listas más rapido
                ul>li*4>-->
            
            <ul>
                <li>
                    <a href="Ofertas" >Ofertas</a>
                </li>
                <li>
                    <a href="Oficiales">Oficiales</a> 
                </li>
                <li>
                    <a href="Vender">Vender</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="Creá tu cuenta">Creá tu cuenta</a>
                </li>
                <li>
                    <a href="Ingresá">Ingresá</a>
                </li>
                <li>
                    <a href="Mis compras">Mis compras</a>
                </li>
            </ul>
    
        </nav>
        <img src="/images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <!--Creamos las dos secciones,
             basado en ultima visita y ofertas-->
             <h2>Basado en tu última visita</h2>
        <section>
            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la cafetera">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>


        </section>
        <h2>Ofertas</h2>
        <section>
            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la cafetera">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>
        </section>
        
        

        
        
        

        


    </main>
    <footer>

    </footer>
</body>
</html>