/*Agregar color de fondo al logo de mercaadoliebre*/
header{
    background-color: yellow;
    width: 100vw;
    padding:10px;
    box-sizing: border-box;
    

}

.img_logo{
    width: 100vw;
    box-sizing:border-box
}


/*Agregar propiedades a barra de busqueda*/
.barraDeBusqueda{
    font-family: Roboto;
    font-size: large;
     color: orangered;}

/*Agregar Propiedades a titulo Compra con credito y sin tarjeta de credito*/

.txt_credito_sin_tarjeta i{
    display:inline;
    margin-top: 25px;
    margin-left: 10vw;
    font-size: 2em

}
.txt_credito_sin_tarjeta p{
    display: inline ;
    margin-top: 25px;
    margin-left: 1vw;
    font-family: Roboto;
    font-size: 24px;
    color: #666;
    font-weight: bold;
}


/*Agregar propiedades al menu de navegacion */

.primerListado{
    font-size: 30px;
    font-family: Roboto;
    color:#666;

}

.segundoListado a{
    display:inline;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 30px;

}
.segundoListado i{
    font-size: 2em;
}

/*Agregar propiedades al menu hamburguesa*/


.btn_menu_hamburguesa{
    margin-left: 45.5vw;
    margin-right: 49.5vw;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 60px;
    height: 90px;
    width: 90px;
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color:blue;
    box-sizing: border-box;   
}

/*Agregar propiedades a la imagen de promocion*/
.img_promocion{
width: 100vw;
box-sizing:border-box

}

/*Propiedades visuales del contendido */
.seccion_basado_ultima_visita img{
    width: 100vw;
    padding:10px;
    box-sizing:border-box
    
}
.seccion_basado_ultima_visita #precios{
    font-family: Roboto;
    font-size:18px ;
    font-weight: 900;
    
    box-sizing:border-box
    
}
.seccion_basado_ultima_visita #descuentos{
    font-family: Roboto;
    font-size:16px ;
    font-weight: 900;
    box-sizing:border-box
    
}
.seccion_basado_ultima_visita #descripciones{
    font-family: Roboto;
    font-size:16px ;
    font-weight: 900;
    box-sizing:border-box
    
}

footer section{
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    display: inline;    
}